.error {
  color: red;
}


.avatar-modal{
  width: 242px;
    border: 1px solid #dbdbdb;
    position: absolute;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px;
    background-color: #fff;
    -webkit-box-shadow: 9px 8px 10px 1px rgb(34 60 80 / 20%);
    -moz-box-shadow: 9px 8px 10px 1px rgba(34, 60, 80, 0.2);
    box-shadow: 9px 8px 10px 1px rgb(34 60 80 / 20%);
}

.mbtn{
  width: 300px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 5px;
  margin-top: 20px;
  background-color: #ffb814;
  color: white;
}
#my-modal{
  -webkit-box-shadow: 15px 16px 15px 0px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 15px 16px 15px 0px rgba(34, 60, 80, 0.2);
box-shadow: 15px 16px 15px 0px rgba(34, 60, 80, 0.2);
}